### CodeIgniter template
*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess
vendor
composer.lock
.idea

/application/config/database.php
/application/config/constants.php
/assets/img/signature/
/assets/download/
node_module
package.json
gulpfile.js