body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #000;
}

.required {
    color: #F00;
}

.new-form-control {
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    color: #555 !important;
    background: #fff none !important;
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
}

div.toolbar-list a {
    cursor: pointer;
    display: block;
    float: left;
    padding: 1px 10px;
    white-space: nowrap;
}

div.toolbar-list span {
    display: block;
    float: none;
    height: 32px;
    margin: 0 auto;
    width: 32px;
}

.icon-32-new {
    background-image: url("../../assets/img/addnew.png");
}

.icon-32-back {
    background-image: url("../../assets/img/back.png");
}

.icon-32-home {
    background-image: url("../../assets/img/home_icon.png");
}

.icon-item-brand {
    background-image: url("../img/backoffice/ItemBrand.png");
    background-size: cover;
}
.icon-item-count {
    background: url('../img/backoffice/ItemCount.png');
    background-size: cover;
}

/* MENU - Items tabs */
@media (max-width: 1200px) {
    #categories-container {
        height: 200px!important;
    }
    .category-cell-grid {
        height: 100px!important;
        padding-top: 35px!important;
    }
    /* GLOBAL MENU TABS*/
    #MenuCategoriesTabs .jqx-tabs-content.jqx-widget-content {
        height: 100%!important;
        max-height: 700px;
    }
    #itemListboxSearch {
        /*height: 450px!important;*/
        /*max-height: 400px;*/
    }
}

@media (max-height: 768px) {
    #itemListboxSearch {
        height: 512px!important;
    }
}

/*.category-cell-grid.col-md-2.streched5 {*/
.maingrid-container .col-md-2.streched5 {
    width: 19.8%;
}
.maingrid-container .col-md-2.streched7,
.maingrid-container .col-md-1.streched7  {
/*.category-cell-grid.col-md-2.streched7 {*/
    width: 14%;
}
.maingrid-container .col-md-2.streched8 {
/*.category-cell-grid.col-md-2.streched8 {*/
    width: 12.25%;
}
.maingrid-container .col-md-1.streched9 {
/*.category-cell-grid.col-md-1.streched9 {*/
    width: 10.85%;
}.maingrid-container .col-md-1.streched10 {
/*}.category-cell-grid.col-md-1.streched10 {*/
     width: 9.8%;
 }.maingrid-container .col-md-1.streched11 {
 /*}.category-cell-grid.col-md-1.streched11 {*/
      width: 9%;
}

.maingrid-container .row {
    margin: 0;
}
@media (max-width: 768px) {
    .restricter-dragdrop {
        height: 320px !important;
    }

    #categories-container {
        height: 180px;
    }
}
@media (min-width: 1200px) {
    .col-lg-2-item {
        width: 20%;
    }
    .col-lg-10-item {
        width: 80%;
    }
}
@media (min-width: 768px) and (max-width: 1200px) {
    .col-md-2-item {
        width: 32%;
    }
    .col-md-10-item {
        width: 68%;
    }
}
.cbxExtraTab {
    margin-top: 15px;
    margin-right: 1.5em;
    display: inherit;
}

.restricter-dragdrop {
    /*max-height: 450px;*/
    height: 430px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: lightgrey;
    border: #202020 2px solid;
    padding: 0 !important;
}

.restricter-dragdrop .row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.restricter-dragdrop .col-md- *, .restricter-dragdrop .col-sm- *,
.maingrid-container .col-md- * {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.restricter-dragdrop .draggable {
    height: 85.5px;
    background-color: #f0f0f0;
    border: black 1px solid;
    color: #fff;
    padding: 2px !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.restricter-dragdrop .draggable:not(.filled) {
    color: #222;
    padding-top: 2.5em!important;
    font-weight:800;
    text-align: center;
    font-size: 10px;
}

.restricter-dragdrop .draggable.filled.disabled-cell {
    cursor: copy!important;
}

.restricter-dragdrop .draggable .labelContent {
    padding-top: 0.6em;
    text-align: center;
    font-size: 12px;
}

.restricter-dragdrop .draggable .priceContent {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 11px;
    font-weight:600;
}

.restricter-dragdrop .draggable.selectedItemOnGrid {
    /*background-color: #f0f0f0;*/
    border: #2F2F2F 4px solid;
    /*border: #FFDC00 4px solid!important;*/
}

#categories-container {
    /*max-height: 300px;*/
    /*min-height: 100%;*/
    height: 225px;
    overflow-y: scroll;
    background-color: lightgrey;
    border: black 2px dotted;
    padding: 0 !important;
    overflow-x: hidden;
}

#selectedItemInfo {
    background-color: lightblue;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    min-height: 30px;
    width: 100%;
    /*max-width: 200px;*/
    margin: 5px 0 0;
    padding: 8px;
    text-align: center;
}

.selectedItemInfoClass.jqx-draggable.jqx-draggable-dragging {
    max-width: 100px!important;
}

#itemListboxSearch .jqx-listitem-element {
    width: 10px;!important;
}

.jqx-listitem-element.jqx-draggable.jqx-draggable-dragging {
    width: 10px!important;
}
.jqx-listitem-element.jqx-draggable.jqx-draggable-dragging span {
    width: 10px!important;
}

.category-cell-grid {
    height: 90px;
    background-color: #f0f0f0;
    color: #fff;
    border: black 1px solid;
    text-align: center;
    padding-top: 35px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.category-cell-grid.valued {
    /*background-color: #bc0530;*/
    background-color: #3492B0;
}

.category-cell-grid.clicked {
    /*background-color: #ee063d;*/
    background-color: #16AA8C;
    border: black 2px solid;
    box-shadow: 3px 3px 2px #888888;
}

/* MENU - Question tab */
#questionWindowForm .question-tabs {
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: #f5f5f5;
    border: 1px solid #dddddd;
    height: 390px;
}

.alertButtonsQuestionForm {
    display: none;
}
/* Menu tab */
.alertButtonsMenuCategories {
    display:none;
}

#questionMainTable .jqx-widget-content.jqx-enableselect,
#questionItemTable .jqx-widget-content.jqx-enableselect,
#gridCustomer .jqx-widget-content.jqx-enableselect,
#customerCheckIn1 .jqx-widget-content.jqx-enableselect,
#customerCheckIn2 .jqx-widget-content.jqx-enableselect,
#customerCheckInComplete .jqx-widget-content.jqx-enableselect,
#customerReceiptGrid .jqx-widget-content.jqx-enableselect {
    overflow-y: scroll!important;
}

#questionMainTable .jqx-widget-content.jqx-enableselect .choicesNestedGrid {
    margin:0.8em 0;
}

/* TOP PAGER on Item inv grid*/
#invMainWindow {
    max-height: 85%!important;
    max-width: 85%!important;
}
.required-ast {
    color: #F00;
    text-align: left;
    padding: 4px;
    font-weight: bold;
}
.inventory_tab {
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: #f5f5f5;
    border: 1px solid #dddddd;
}
.inventory_tab .row {
    margin-bottom: 5px;
}
.row.inventory_tab {
    margin: 0!important;
}
#inventorySection .row {
    /*margin: 0!important;*/
}

#inventoryItemsGrid .jqx-grid-header {
    height:84px!important;
}
#columntableinventoryItemsGrid  {
    top:30px!important;
    border: none;
    border-top: #B8B8B8 1px solid;
}
#contenttableinventoryItemsGrid {
    top:0!important;
}
#pagerinventoryItemsGrid.jqx-grid-pager {
    top:0!important;
}
#statusbarinventoryItemsGrid.jqx-widget-header.jqx-grid-statusbar {
    top:21px!important;
}
div[id="filterrow.inventoryItemsGrid"].jqx-grid-cell-pinned {
    top:29px!important;
}

#icountlistGrid .less_than {
     color: red!important;
 }