body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.required {
    color: #F00;
}

.new-form-control {
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    color: #555 !important;
    background: #fff none !important;
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
}

div.toolbar-list a {
    cursor: pointer;
    display: block;
    float: left;
    padding: 1px 10px;
    white-space: nowrap;
}

div.toolbar-list span {
    display: block;
    float: none;
    height: 32px;
    margin: 0 auto;
    width: 32px;
}

.icon-32-new {
    background-image: url("../../assets/img/addnew.png");
}

.icon-32-back {
    background-image: url("../../assets/img/back.png");
}

.icon-32-home {
    /*background-image: url("../../assets/img/back_icon.png");*/
    background-image: url("../../assets/img/home_icon.png");
    /*background-position: 32px 0;*/
    /*background-size: 100%;*/
}

/* MENU - Items tabs */
@media (max-width: 1200px) {
    #categories-container {
        height: 120px!important;
    }
    .category-cell-grid {
        height: 65px!important;
        padding-top: 15px!important;
    }
}

@media (max-width: 768px) {
    .restricter-dragdrop {
        height: 320px !important;
    }

    #categories-container {
        height: 180px;
    }
}
@media (min-width: 1200px) {
    .col-lg-2-item {
        width: 20%;
    }
    .col-lg-10-item {
        width: 80%;
    }
}
@media (min-width: 768px) and (max-width: 1200px) {
    .col-md-2-item {
        width: 32%;
    }
    .col-md-10-item {
        width: 68%;
    }
}
.cbxExtraTab {
    margin-top: 15px;
    margin-right: 1.5em;
    display: inherit;
}

.restricter-dragdrop {
    /*max-height: 450px;*/
    height: 420px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: lightgrey;
    border: #202020 2px solid;
    padding: 0 !important;
}

.restricter-dragdrop .row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.restricter-dragdrop .col-md- *, .restricter-dragdrop .col-sm- *,
.maingrid-container .col-md- * {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.restricter-dragdrop .draggable {
    height: 120px;
    background-color: #f0f0f0;
    border: black 1px solid;
    color: #fff;
    padding: 2px !important;
}

.restricter-dragdrop .draggable.selectedItemOnGrid {
    /*background-color: #f0f0f0;*/
    border: #2F2F2F 4px solid;
}

#categories-container {
    /*max-height: 300px;*/
    /*min-height: 100%;*/
    height: 225px;
    overflow-y: scroll;
    background-color: lightgrey;
    border: black 2px dotted;
    padding: 0 !important;
    overflow-x: hidden;
}

#selectedItemInfo {
    background-color: lightblue;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    min-height: 40px;
    width: 100%;
    margin: 15px 0 0;
    padding: 8px;
    text-align: center;
}

#itemListboxSearch .jqx-listitem-element {
    width: 10px;!important;
}

.jqx-listitem-element.jqx-draggable.jqx-draggable-dragging {
    width: 10px!important;
}
.jqx-listitem-element.jqx-draggable.jqx-draggable-dragging span {
    width: 10px!important;
}

.category-cell-grid {
    height: 90px;
    background-color: #f0f0f0;
    color: #fff;
    border: black 1px solid;
    text-align: center;
    padding-top: 35px;
}

.category-cell-grid.valued {
    background-color: #bc0530;
}

.category-cell-grid.clicked {
    background-color: #ee063d;
    border: black 2px solid;
    box-shadow: 3px 3px 2px #888888;
}

/* MENU - Question tab */
#questionWindowForm .question-tabs {
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: #f5f5f5;
    border: 1px solid #dddddd;
    height: 390px;
}

.alertButtonsQuestionForm {
    display: none;
}
/* Menu tab */
.alertButtonsMenuCategories {
    display:none;
}