
    <div style="float:left; padding:2px; text-align:left; width:200px; font-weight:bold;">
        {{ attr.Label }}
    </div>
    <!-- TEXT -->
    <div ng-if="attr.Control == 'text'" class="customer-field"
         data-control-type="{{ attr.Control }}"
         data-field="{{ attr.Field }}"
         style="float:left;width: 180px;"
    >
        <input type=\"text\" class="form-control customer-textcontrol"
               ng-class="{req : attr.Required, defaultVal: attr.Default == 1}"
               id="customer_{{attr.Field}}" name="customer_{{attr.Field}}"
               placeholder="{{attr.Label}}"/>
    </div>
    <!-- INTEGER -->
    <div ng-if="attr.Control == 'number'" class="customer-field"
         data-control-type="{{ attr.Control }}"
         data-field="{{ attr.Field }}"
         style="float:left;"
    >
        <jqx-number-input
                style='margin-top: 3px;'
                ng-class="{req : attr.Required}" class="customer-number"
                jqx-settings="numberIntSettings"
        ></jqx-number-input>
    </div>
    <!-- DECIMAL -->
    <div ng-if="attr.Control == 'number2Decimal'" class="customer-field"
         data-control-type="{{ attr.Control }}"
         data-field="{{ attr.Field }}"
         style=" float:left;"
    >
        <jqx-number-input
                ng-class="{req : attr.Required}" style='margin-top: 3px;'
                class="customer-number"
                jqx-settings="numberDecimalSettings"
        ></jqx-number-input>
    </div>
    <!-- DATE -->
    <div ng-if="attr.Control == 'date'" class="customer-field"
         data-control-type="{{ attr.Control }}"
         data-field="{{ attr.Field }}"
         style="float:left;"
    >
        <jqx-date-time-input class="customer-date" jqx-settings="dateSettings"
                             ng-class="{req : attr.Required}"
                             data-placeholder="{{attr.Label}}"
        ></jqx-date-time-input>
    </div>
    <!-- DATALIST -->
    <div ng-if="attr.Control == 'datalist'" class="customer-field"
         data-control-type="{{ attr.Control }}"
         data-field="{{ attr.Field }}"
         style=" float:left;"
    >

        <jqx-drop-down-list
                data-control-type="{{ attr.Control }}"
                jqx-settings="dropdownlistSettings"
                ng-class="{req : attr.Required}"
                class="customer-datalist"
                id="customer_{{ attr.Field }}"
                data-placeholder="{{attr.Label}}"
        >
            <option ng-repeat="option in attr.options" selected="{{ (option.Default && option.Default==1) ? 'true' : 'false'}}"
                    data-defa="{{option.Default}}"
                    value="{{ option.Label }}">{{ option.Label }}
            </option>
        </jqx-drop-down-list>
    </div>
    <!-- RADIO  -->
    <div ng-if="attr.Control == 'radio'" class="customer-field"
         data-control-type="{{ attr.Control }}"
         data-field="{{ attr.Field }}"
         style="display: inline-block;margin: -8px 0 0 -10px;"
    >
        <jqx-radio-button ng-repeat="option in attr.options"
                          jqx-checked="{{ (option.Default == 1) ? 'true' : 'false' }}"
                          jqx-height="25"
                          jqx-width="'100%'"
                          jqx-on-change="changeRadio(event)" jqx-width="250"
                          jqx-group-name="{{ attr.Field }}"
                          jqx-data="{{ option.Label }}"
                          jqx-theme="'summer'"
                          data-val="{{ option.Label }}"
                          data-defa="{{option.Default}}"
                          class="customer_radio"
                          style='margin-right: 1.5em;display: inherit;'>
            <span class="text-rb">{{option.Label }}</span>
        </jqx-radio-button>
    </div>
    <!-- REQUIRED ASTERISK -->
    <div style="float:left;" ng-if="attr.Required > 0 && attr.Control != 'radio'">
        <span style="color:#F00; text-align:left; padding:4px; font-weight:bold;">*</span>
    </div>
    <div style="display: inline-block;" ng-if="attr.Required > 0 && attr.Control == 'radio'">
        <span style="color:#F00; text-align:left; padding:4px; font-weight:bold;">*</span>
    </div>
